'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Python YAPF'
        'submenu': [
          {
            'label': 'Format Code'
            'command': 'python-yapf:formatCode'
          }
          {
            'label': 'Check Formatting'
            'command': 'python-yapf:checkFormat'
          }
        ]
      }
    ]
  }
]
